<form class="form-pedido text-center m-auto">
    <fieldset disabled>
      <legend>Encargar un Modding</legend>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Que categoria de Modding le interesa</label>
        <select id="disabledSelect" class="form-select">
          <option>Elige una categoria</option>
          <option>Extremo</option>
          <option>Vinilado</option>
          <option>De consola</option>
        </select>
      </div> 
      <div class="mb-3">
        <label for="InputEmail1" class="form-label">Introduzca su Correo para que uno de los especialistas se contacte</label>
        <input type="email" class="form-control" id="InputEmail1" placeholder="Correo electronico">        
      </div>     
          
      <button type="submit" class="btn btn-primary">Enviar Pedido</button>
    </fieldset>
  </form>