<section>
  <nav class="navbar navbar-expand-lg navbar-light position-absolute w-100" style="background-color: #232323;">
    <div class="container container-mobile">
      <a class="navbar-brand fw-bold text-white"><img src="/assets/images/logo principal.png"  width="150" height="150" routerLink="/auth/login" alt="" class="img-fluid"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item d-flex">
            <a class="nav-link text-white align-self-center navbar-brand mb-0 h1" routerLink="" aria-current="page" >Inicio</a>
          </li>             
          <li class="nav-item d-flex">
            <a class="nav-link text-white align-self-center navbar-brand mb-0 h1" routerLink="/tabs/gallery" aria-current="page" >Galeria</a>
          </li> 
          <li class="nav-item d-flex">
            <a class="nav-link text-white align-self-center navbar-brand mb-0 h1" routerLink="/tabs/form" aria-current="page" >Encargar un Modding</a>
          </li>                               
        </ul>
      </div>
    </div>
  </nav> 
</section>