<form class="login-design" method="GET" action="" style="background-image: url(/assets/images/fondologin.jpg);">
    <div class="waves">
      <img src="/assets/images/logo principal.png" height="150" alt="" />
    </div>
    <div class="login">
      <div class="login-data">            
        <h1>Inicio de Sesión</h1>
        <form action="#" class="login-form">
          <div class="input-group">
            <label class="input-fill">
              <input type="email" name="email" id="email" required />
              <span class="input-label">Correo Electrónico</span>
              <i class="fas fa-envelope"></i>
            </label>
          </div>
          <div class="input-group">
            <label class="input-fill">
              <input type="password" name="password" id="password" required />
              <span class="input-label">Contraseña</span>
              <i class="fas fa-lock"></i>
            </label>
          </div>
          <form action="" routerLink="/dashboard/home" >
            <input type="submit" value="Iniciar Sesión" class="btn-login"/>
          </form>           
          
        </form>
      </div>
    </div>
  </form> 
