<section class="d-flex margen bg-section-2 justify-content-evenly" style="background-image: url(/assets/images/Fondo1.svg);">          
    <div class="row g-0 h-100 mt-5">
      <div class="col-lg-6 d-flex">
        <div class="content mx-auto align-self-center px-4 my-5" >
          <h1 class="display-4 fw-bold mb-3">¿Que es el Modding?</h1>
          <p class="lead mb-5">Es el arte o técnica de modificar estética o funcionalmente partes de un ordenador, 
          ya sea la caja, ratón, teclado o monitor, pero también otros dispositivos relacionados como pueden ser las 
          consolas</p>
        </div>
      </div>
      <div class="col-lg-6 d-flex bg-header ">
        <div class="content mx-auto align-self-center content-img">          
                <img src="assets/images/Imagen_1.1.jpg" class="d-block w-100" alt="..." width="350" height="350" style="-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;padding:0px;">              
          </div>
        </div>
      </div>   
    
  </section>
  
  <section class="d-flex py-5 mb-5 bg-section-2 " style="background-image: url(/assets/images/Fondo2.svg);">
    <div class="container ">  
         <h2 class="display-4 py-4">Categorias de Modding Prediseñados</h2>    

         <div class="row publications">
           <div class="d-flex justify-content-evenly">
            <div class="col-lg-4 rounded me-4 p-4 " data-aos="flip-up" data-aos-delay="300">
              <a href="#" class="text-decoration-none ">
                <img src="/assets/images/Imagen_2.jpg" alt="" class="img-fluid mb-4 w-100  h-50">
                <div class="d-flex mb-4">
                  <p class="flex-grow-1 text-dark mb-0 fw-bold lead">Extremo</p>                       
                </div>
                <p class="lead text-dark  mb-4">Fabricado de case desde cero con tematicas a elección</p>
                <p class="text-dark fw-bold">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
              </a>
           </div>
          <div class="col-lg-4 rounded me-4 p-4" data-aos="flip-up" data-aos-delay="300">
              <a href="#" class="text-decoration-none">
                <img src="/assets/images/Imagen_3.jpg" alt="" class="img-fluid mb-4 w-100  h-50">
                <div class="d-flex mb-4">
                  <p class="flex-grow-1 text-dark mb-0 fw-bold lead">Con vinilo adhesivo</p>                       
                </div>
                <p class="lead text-dark mb-4">Vinilado de case con diseños exclusivos a elección</p>
                <p class="text-dark fw-bold">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
              </a>
          </div>
          <div class="col-lg-4 rounded me-4 p-4"  data-aos="flip-up" data-aos-delay="200">
              <a href="#" class="text-decoration-none">
                <img src="/assets/images/Imagen_4.jpg" alt="" class="img-fluid mb-4 w-100 h-50">
                <div class="d-flex mb-4">
                  <p class="flex-grow-1 text-dark mb-0 fw-bold lead">De consolas</p>                       
                </div>
                <p class="lead text-dark mb-4">Personaliza cualquier consola con lo que te guste</p>
                <p class="text-dark fw-bold">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
              </a>
          </div>
           </div>
         </div>
    </div>
 </section>
 <section class="d-flex py-5 section-600">
  <div class="container" data-aos="fade-up" data-aos-delay="300">
       <div class="info-content bg-color-p1 text-dark" style="background-color: #648fb5; ">
          <div class="row">              
              <div class="col-lg-5 d-flex">
                  <div class="align-self-center mx-auto p-5">
                    <img src="/assets/images/nate.jpg" alt="" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-7 d-flex" >
                <div class="p-5 align-self-center">
                    <h2 class="display-4 fw-bold mb-4">El Modding es un mundo muy extenso</h2>
                    <p class="lead">Para conocer mas del modding te invitamos a visitar el canal de YT de Nate Gentile</p>
                    <a href="" class="btn btn-primary text-dark w-75 ms-5" style="background-color: #BBD1EA;" href="https://www.youtube.com/c/NateGentile7">Visitar</a>
                </div>
            </div>
          </div>
       </div>
  </div>
</section>

 <section class="d-flex pt-5 pb-5 h-100" style="background-image: url(/assets/images/Fondo3.svg);">
  <div class="container align-self-center p-container-m" data-aos="fade-up" data-aos-delay="200">
      <div class="text-light text-center p-5 rounded mx-auto mt-5 w-75 mb-5"  style="background-color: #648fb5; ">
          <h2 class="display-4 fw-bold">¿Quieres hacer un pedido?</h2>
          <div class="mx-auto my-form position-relative d-none d-md-block mt-5">              
              <button type="button"  class="btn btn-primary text-dark  w-100"  style="background-color: #BBD1EA;" routerLink="/tabs/form">Realizar pedido</button>
          </div>         
      </div>
  </div>
</section>