<header id="Header">
    <div class="menu-btn" (click)="openSiderbar()" id="buttonsidebar" >
      <i class="fas fa-bars"></i>
    </div>
    <div class="side-bar" id="sidebar">
      <div class="close-btn" (click)="closeSiderbar()" id="closesidebar">
        <i class="fas fa-times"></i>
      </div>
      <div class="menu">
        <div class="item"><a  routerLink="/dashboard/View"><i class="fas fa-desktop"></i>Ver Categorias</a></div>
        <div class="item"><a routerLink=""><i class="fas fa-desktop"></i>Crear Categorias</a></div>
        <div class="item"><a routerLink="/menu/Edit"><i class="fas fa-desktop"></i>Editar Galeria</a></div>
        <div class="item"><a routerLink="/menu/Order"><i class="fas fa-th"></i>Pedidos</a></div>                 
      </div>
    </div>
    <div>
      <ul class="main-menu">
          <li class="menu-item"><a href="#">Ir a la Paguina</a></li>
          <li class="cta"><a routerLink="/auth/login">Log out</a></li>
      </ul>
    </div>   
  </header>