<section>  
    <footer class="text-center text-lg-start text-white" style="background-color: #232323">    
      <div class="container p-4 pb-0">      
        <section class="">        
          <div class="row">          
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                RS_Modding
              </h6>
              <p>
                Nos encargamos de personalizar tu pc con la tematica que desees a costos bajos
              </p>
            </div>         
  
            <hr class="w-100 clearfix d-md-none" />
           
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a class="text-white text-decoration-none">Modding de componentes</a>
              </p>
              <p>
                <a class="text-white text-decoration-none">Modding de case</a>
              </p>
              <p>
                <a class="text-white text-decoration-none">Modding de consolas</a>
              </p>
              
            </div>          
  
            <hr class="w-100 clearfix d-md-none" />
            
            <hr class="w-100 clearfix d-md-none" />
           
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> Potosí,Bolivia</p>
              <p><i class="fas fa-envelope mr-3"></i> Rodrigoslucka@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 591 77471631</p>            
            </div>        
  
            
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
              
              <a class="btn btn-primary btn-floating m-1" 
              style="background-color: #3b5998" 
              href="#!" 
              role="button">
                <i class="fab fa-facebook-f"></i
                ></a>            
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #55acee"
                 href="#!"
                 role="button"
                 ><i class="fab fa-twitter"></i
                ></a>          
              <a
                 class="btn btn-primary btn-floating m-1"
                 style="background-color: #dd4b39"
                 href="#!"
                 role="button"
                 ><i class="fab fa-google"></i
                ></a>            
              <a
                 class="btn btn-primary btn-floating m-1 "
                 style="background-color: #ac2bac "
                 href="#!"
                 role="button"
                 ><i class="fab fa-instagram"></i
                ></a>         
              
            </div>
          </div>        
        </section>      
      </div>    
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2021 Copyright:
        <a class="text-white" href="#"
           >RS_Modding.com</a>
      </div>    
    </footer>  
  </section>