body {
    font-family: 'Dosis', sans-serif;
    background-image: url('/Login/trace-3157431_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .login-design {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
  }
  
  .waves {    
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  
  .login-data {
    text-align: center;
    width: 60%;    
    padding: 8%;
    border-radius: 5%;
    background: rgba(255, 99, 71, 0.637);    
  }
  
  .login-data h1 {
    font-weight: 200;
    color: white;
  }
  
  .input-group {
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    
  }
  
  
  .input-fill input {
    border: none;
    border-bottom: 3px solid #848f9a;
    width: 80%;
    height: 2rem;
    font-size: 1.0625rem; 
    padding-left: 3rem;   
    line-height: 147.6%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  
  .input-fill input:focus {
    outline: none;
    border-color: #532b94;
  }
  
  .input-fill input:hover {
    background-color: #e9ecef;
  }
  
  .input-fill input:focus + .input-label{
    top: 0;
    margin-bottom: 2rem;
    color: #6c1aef;
  }
  .input-fill input:valid + .input-label{
    top: 0;
    margin-bottom: 2rem;
    color: #6c1aef;
  }
  
  .input-fill input:focus ~ i {
    color: #6c1aef;
  }
  
  .input-fill .input-label {
    position: absolute;
    top: 15px;
    left: 20%;
    line-height: 147.6%;
    color: #848f9a;
    transition: top 0.2s;
    font-weight: 700;
  }
  
  .input-fill i {
    position: absolute;
    top: 19px;
    left: 6%;
    color: #848f9a;
    font-size: 1.5rem;
  }
  
  .login-form a {
    display: block;
    width: 85%;
    text-align: right;
    text-decoration: none;
    color: #848f9a;
    margin-bottom: 1.3rem;
    font-weight: 800;
    transition: 0.3s ease-in-out all;
    font-size: 18px;
  }
  
  .login-form a:hover {
    color: #6c1aef;
  }
  
  .btn-login {
    border-radius: 3rem;
    width: 45%;
    border: 1px solid #6c1aef;
    line-height: 1.6rem;
    font-size: 1.3rem;
    background-color: #6c1aef;
    color: #ffffff;
    padding: 0.5rem 0;
    transition: 0.3s ease-in-out all;
    font-weight: 500;
  }
  
  .btn-login:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #6c1aef;
  }