<div class="galeria">    
    <div class="contenedor-imagenes">
        <div class="imagen">
            <img src="assets/images/Imagen_1.1.jpg" alt="">
            <div class="overlay">
                <h2>Extremo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/images/Imagen_1.jpg" alt="">
            <div class="overlay">
                <h2>Extremo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/images/Modding-PC-03.jpg" alt="">
            <div class="overlay">
                <h2>Extremo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/images/Imagen_3.jpg" alt="">
            <div class="overlay">
                <h2>Vinilado</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/images/img1.jpg" alt="">
            <div class="overlay">
                <h2>Extremo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/images/img2.jpg" alt="">
            <div class="overlay">
                <h2>Extremo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/images/img3.jpg" alt="">
            <div class="overlay">
                <h2>Extremo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/images/img4.jpg" alt="">
            <div class="overlay">
                <h2>Extremo</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/images/img5.jpg" alt="">
            <div class="overlay">
                <h2>Extremo</h2>
            </div>
        </div>        
    </div>
</div>